@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

body
{
    background-image: url("fundo_mar.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction:column ;
    align-items: center;
    align-content: center;
    width: 100%; /*largura*/
    height: 100vh; /*altura*/
    margin: 0%;
    overflow:hidden;
}

.tiradecima
{
    background-image: url("tiradecima.png");
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 150px;
    background-size: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
    align-items: center;
    z-index: 8;
}

.quadradodados
{
    background: rgba(2, 32, 74, 0.5);
    background-repeat: no-repeat;
    width:  540px; /* largura*/
    height: 540px; /*altura*/
    background-size: 70%;
    align-items: center;
    margin-top: 190px;
    margin-left: 50%;
    left: -270px;
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    border-radius: 270px;
    font-size: 25px;
    box-shadow: 2px 2px #031A39;
}

.botao
{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

a
{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    color: #c5e8f0;
    text-decoration: none;
    cursor: pointer;
    font-family: 'DynaPuff', cursive;
    font-size: 10px;
}

.titulo
{
    color:#28C0E1;
    font-family: 'DynaPuff', cursive;
}

.carrinho
{
    height: 100px; /*altura*/
    width: 150%; /* largura*/
    margin-top: 0px;
    padding-left: 80%;
}

.perfil
{
    height: 100px; /*altura*/
    width: 100%; /* largura*/
}

.logo
{
    width: 100%; /* largura*/
    margin-top: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
}

.dadosperfil
{
    font-family: 'DynaPuff', cursive;
    background-color: #ededed82;
    height: 500px; /*altura*/
    width: 400px; /* largura*/
    position: absolute;
    left: 75%;
    color:black;
    z-index: 10;
    padding-top: 100px;
    font-size: 25px;
    
}

#menuToggle /*tres risquinhos*/
{
  display: block;
  position: relative;
  top: 70px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a /*estilo das escritas*/
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover /*quando passar o mause ficar azul*/
{
  color: #28C0E1;
}

#menuToggle input /*começo da transição*/
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* ocultar tres risquinhos */
  z-index: 2; 
  -webkit-touch-callout: none;
}

#menuToggle span /*transição*/
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  /*aqui faz aparecer o quadrado branco*/
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), 
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child /*transição*/
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) /*transição*/
{
  transform-origin: 0% 100%;
}

/*Tres risquinhos formando uma cruz + */
#menuToggle input:checked ~ span /*transição*/
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
/*
 * esconde o risquinho do meio
 */
#menuToggle input:checked ~ span:nth-last-child(3) /*transição*/
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
/*
 * último deve ir na outra direção
 */
#menuToggle input:checked ~ span:nth-last-child(2) /*transição*/
{
  transform: rotate(-45deg) translate(0, -1px);
}
/*
 Faça este posicionamento absoluto
 no canto superior esquerdo da tela
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed7a;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* para interromper a oscilação do texto no safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li /*tamanho da letra*/
{
  padding: 10px 0;
  font-size: 25px;
}
/*
 * E vamos deslizá-lo da esquerda
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

.navegador
{
    position: absolute;
    top: 0px;
}