@import url('https://fonts.googeapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

body
{
  background-image: url(../imagens/fundo_mar.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Avenir Next", "Avenir", sans-serif;
  overflow-x: hidden;
  height: 100vh;
  background-size: 100%;
  display: flex;
  flex-direction:column ;
  align-items: center;
  align-content: center;
}

*{
    font-family: 'Poppins',sans-serif;
    margin:0; 
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

a
{
    color: #28C0E1;
    text-decoration: none;
    cursor: pointer;
    font-family: 'DynaPuff', cursive;
    margin-top: 20px;
    align-items: center;
<<<<<<< HEAD
    padding: 25px;
    min-height: 100vh;
    background: linear-gradient(90deg,);
    background-image: url(/imagens/fundo_mar.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding-bottom: 70px;
}

.container form{
    padding: 20px;
    width: 700px;
    background: #fff;
    background-color: rgba(2, 32, 74, 0.37);
	border: 1px solid black;
	padding: 30px;
	border-radius: 5px;
=======
    display:flex;
    font-size: 30px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

/**input
{
    box-shadow: #000;
}
**/

.container form /** dados pagamento **/
{
    margin-top: 25%;
    padding: 20px;
    width: 620px;
    height: 500px;
    background:#031a397c;
>>>>>>> 645bade2f80dbebd46d9ef9d313829da2e5b6a87
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    border-radius: 40px;
    border-color: #000;
}

<<<<<<< HEAD
.contaner form .col1{
=======
.contaner form .row /** linha **/
{
>>>>>>> 645bade2f80dbebd46d9ef9d313829da2e5b6a87
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

<<<<<<< HEAD
.contaner form .col1 .col2{
    flex: 1 1 250px;
}
.title{
    color: #fff;
}
.contaner form .col1 .col2 .title{
=======
.contaner form .row .col /** coluna **/
{
    flex: 1 1 250px;
}

.contaner form .row .col .title /** titulo 'endereço de cobraça e pagamento' **/
{
>>>>>>> 645bade2f80dbebd46d9ef9d313829da2e5b6a87
    font-size: 20px;
    color: rgb(51, 51, 51);
    padding-bottom: 5px;
    text-transform: uppercase;
}

<<<<<<< HEAD
.contaner form .col1 .col2 .inputBox{
    margin: 15px 0;
}

.contaner form .col1 .col2 .inputBox {
=======
.contaner form .row .col .inputBox /** linha, coluna **/
{
    margin: 15px 0;
}

.contaner form .row .col .inputBox span /** linha, coluna **/
{
>>>>>>> 645bade2f80dbebd46d9ef9d313829da2e5b6a87
    margin-bottom: 10px;
    display: block;
}

<<<<<<< HEAD
::placeholder{
     
}

.col1{
    color: #fff;
}

.col2{
    color: #fff;
}

.space
{
    height: 1vh;
}

.azar
{
    background-color: rgba(2, 32, 74, 0.37);
	border: 1px solid black;
	padding: 30px;
	border-radius: 5px;
}

.contaner form .col1 .col2 .inputBox input{
=======
.contaner form .row .col .inputBox input /** linha, coluna **/
{
>>>>>>> 645bade2f80dbebd46d9ef9d313829da2e5b6a87
    width: 100%;
    border: 1px solid black;
    padding: 10px 15px;
    text-transform: none;
}

<<<<<<< HEAD
.contaner form .col1 .col2 .inputBox input:focus{
    border: 1px solid #333;
}

.contaner form .col1 .col2 .flex{
=======
.contaner form .row .col .inputBox input:focus /** linha, coluna **/
{
    border: 1px solid #333;
}

.contaner form .row .col .flex /** linha, coluna **/
{
>>>>>>> 645bade2f80dbebd46d9ef9d313829da2e5b6a87
    display: flex;
    gap: 15px;
}

<<<<<<< HEAD
.contaner form .col1 .col2 .inputBox img{
=======
.contaner form .row .col .inputBox img /** linha, coluna, imagem **/
{
>>>>>>> 645bade2f80dbebd46d9ef9d313829da2e5b6a87
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn /** botão pagar **/
{
    display: flex;
    align-items: center;
    align-content: center;
    width: 180px;
    height: 30px;
    padding: 12px;
    font-size: 17px;
    background: #06a7cb;
    margin: top 5px;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
}

.container form .submit-btn:hover  /** quando clicar no botão ficar dessa cor **/
{
    background: #87CEFA;
}
